#p1{
    border: 5px solid black;
    background-color: aqua;
}
#p2{
    border: 3px solid black;
    background-color: aqua;
}
#p3{
    border: 1px solid black;
    background-color: aqua;
}
#p4{
    border: 0px solid black;
    background-color: aqua;
}